# Configuration file

"race main attribute" {
    # Server Sided! DBC Half-Saiyan Attribute Multiplier. (From -100000 to 100000).
    S:"DBC Half-Saiyan MartialArtist Attribute Multiplier" <
        STR 1.0
        DEX 1.0
        CONS 1.0
        WILL 1.0
        MIND 1.0
        SPI 1.0
     >

    # Server Sided! DBC Half-Saiyan Starting Attribute. (From -1000000000 to 1000000000).
    S:"DBC Half-Saiyan MartialArtist Starting Attribute" <
        STR 10
        DEX 10
        CONS 10
        WILL 15
        MIND 10
        SPI 5
     >

    # Server Sided! DBC Half-Saiyan Stat Bonus. (From -1000000000 to 1000000000).
    S:"DBC Half-Saiyan MartialArtist Stat Bonus" <
        Melee 20
        Defense 10
        Body 2
        Stamina 15
        EnergyPower 20
        EnergyPool 10
        MaxSkills 0
        Speed 12
        RegenRateBody 0
        RegenRateStamina 5
        RegenRateEnergy 0
        FlySpeed 15
     >

    # Server Sided! DBC Half-Saiyan Stat Multiplier from Attribute. (From -100000 to 100000).
    S:"DBC Half-Saiyan MartialArtist Stat Multiplier from Attribute" <
        Melee 3.125
        Defense 5.0
        Body 22.0
        Stamina 3.5
        EnergyPower 2.35
        EnergyPool 40.0
        MaxSkills 0.15
        Speed 1.0
        RegenRateBody 1.0
        RegenRateStamina 1.0
        RegenRateEnergy 1.0
        FlySpeed 1.0
     >

    # Server Sided! DBC Half-Saiyan Attribute Multiplier. (From -100000 to 100000).
    S:"DBC Half-Saiyan Spiritualist Attribute Multiplier" <
        STR 1.0
        DEX 1.0
        CONS 1.0
        WILL 1.0
        MIND 1.0
        SPI 1.0
     >

    # Server Sided! DBC Half-Saiyan Starting Attribute. (From -1000000000 to 1000000000).
    S:"DBC Half-Saiyan Spiritualist Starting Attribute" <
        STR 10
        DEX 10
        CONS 10
        WILL 15
        MIND 10
        SPI 5
     >

    # Server Sided! DBC Half-Saiyan Stat Bonus. (From -1000000000 to 1000000000).
    S:"DBC Half-Saiyan Spiritualist Stat Bonus" <
        Melee 10
        Defense 20
        Body -8
        Stamina 5
        EnergyPower 30
        EnergyPool 20
        MaxSkills 0
        Speed 22
        RegenRateBody -10
        RegenRateStamina -5
        RegenRateEnergy 10
        FlySpeed 25
     >

    # Server Sided! DBC Half-Saiyan Stat Multiplier from Attribute. (From -100000 to 100000).
    S:"DBC Half-Saiyan Spiritualist Stat Multiplier from Attribute" <
        Melee 3.125
        Defense 5.0
        Body 22.0
        Stamina 3.5
        EnergyPower 2.35
        EnergyPool 40.0
        MaxSkills 0.15
        Speed 1.0
        RegenRateBody 1.0
        RegenRateStamina 1.0
        RegenRateEnergy 1.0
        FlySpeed 1.0
     >

    # Server Sided! DBC Half-Saiyan Attribute Multiplier. (From -100000 to 100000).
    S:"DBC Half-Saiyan Warrior Attribute Multiplier" <
        STR 1.0
        DEX 1.0
        CONS 1.0
        WILL 1.0
        MIND 1.0
        SPI 1.0
     >

    # Server Sided! DBC Half-Saiyan Starting Attribute. (From -1000000000 to 1000000000).
    S:"DBC Half-Saiyan Warrior Starting Attribute" <
        STR 10
        DEX 10
        CONS 10
        WILL 15
        MIND 10
        SPI 5
     >

    # Server Sided! DBC Half-Saiyan Stat Bonus. (From -1000000000 to 1000000000).
    S:"DBC Half-Saiyan Warrior Stat Bonus" <
        Melee 30
        Defense 0
        Body 12
        Stamina 30
        EnergyPower 10
        EnergyPool 0
        MaxSkills 0
        Speed 0
        RegenRateBody 10
        RegenRateStamina 15
        RegenRateEnergy -10
        FlySpeed 10
     >

    # Server Sided! DBC Half-Saiyan Stat Multiplier from Attribute. (From -100000 to 100000).
    S:"DBC Half-Saiyan Warrior Stat Multiplier from Attribute" <
        Melee 3.125
        Defense 5.0
        Body 22.0
        Stamina 3.5
        EnergyPower 2.35
        EnergyPool 40.0
        MaxSkills 0.15
        Speed 1.0
        RegenRateBody 1.0
        RegenRateStamina 1.0
        RegenRateEnergy 1.0
        FlySpeed 1.0
     >
}


